@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

:root {
    --primary:#24d278;
    --secondary:#f4f5f7;
    --dark: #0f1521;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: #20f185;
}

::-webkit-scrollbar-thumb:hover {
  background: #20f185;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding: 0;
    z-index: 5;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,h3 {
    font-weight: 500;
}

h1 {
    font-size: 4rem;
}

h2{
    font-size: 2.5rem;
    font-weight: 400;
}

h3 {
    font-size: 2.5rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: #fff;
    text-decoration: none;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* Buttons */

.button-group button {
    padding: .8rem 1.3rem;
    border-radius: 20px;
    border: 1px solid transparent;
    margin-right: .5rem;
    transition: all .2s ease-in;
}

.button-group .green{
    background: var(--primary);
}

.button-group .black{
    background: var(--dark);
}

.button-group .green:hover{
    background: #fff;
    border: 1px solid var(--primary);
}

.button-group .green:hover a{
    color: var(--primary);
}

.button-group .black:hover{
    background: #fff;
    border: 1px solid var(--dark);
}

.button-group .black:hover a{
    color: var(--dark);
}

/* ******************************************************* */

#header {
    background: url('../img/header-main-bg.jpg');

}

#header::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background-image: url('../img/header-main-bg.png');
    background-size: cover;

}

/* navbar */

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    align-items: center;
}

.logo h3{
    color: var(--primary);
    text-transform: uppercase;
    font-size: 1.9rem;
}

.menu{
    position: absolute;
    transform: translateX(100%);
    transition: transform 0.5s ease; 
    opacity: 0;
}

.menu.open{
    opacity: 1;
    transform: translateX(0);
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    padding: 0 .8rem 0 0;
    transition: all .3s;
}

.menu ul {
    display: flex;
    justify-content: center;
}

.menu ul li {
    list-style: none;
}

.login-menu .nav-link{
    color: #fff;
}

.login-menu .nav-link:hover{
    color: #fff;
}

.login-menu {
    position: absolute;
    transform: translateX(100%);
    transition: transform 0.3s ease; 
    opacity: 0;
}

.login-menu.open {
    opacity: 1;
    transform: translateX(0);
    position: relative;
}

.nav-link:hover{
    color: var(--primary);
}

.bar-menu {
    position: relative;
}

.bar-menu button{
    background: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: .2rem;
}


.bar-menu button:active {
    background: #20f185;
    border: 2px solid black;
    border-radius: 5px;
}

.bar-menu button:hover {
    background: #20f185;
}

.bar-menu .bar {
    background: #fff;
    width: 30px;
    height: 3px;
    margin: .3rem 0;
    border-radius: 5px;
}

.bar-menu .bar:nth-child(2) {
    width: 15px;
    margin-left: auto;
}

.bar-menu .bar.open:nth-child(1){
    transform: rotate(45deg) translate(5px);
    transition: transform 0.3s ease-in;
}

.bar-menu .bar.open:nth-child(2){
    display: none;
}

.bar-menu .bar.open:nth-child(3){
    transform: rotate(-45deg) translate(5px);
    transition: transform 0.3s ease-in;
}


 /* header main */

.header-content-item{
    height: 100vh;
}
 
.header-content-items {
    width: 50%;
    padding: 0 6rem;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content-left {
    width: 40%;
}

.header-content-title, .header-content-text {
    padding: 1rem 0;
}

.header-content-title h3 {
    color: var(--primary);
}

.header-content-right {
    position: relative;
}

.play-button {
    background: #fff;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    left: -120%;
    bottom: 0;
    animation: blink 3s infinite ease-in
}


.slider-count {
    position: absolute;
    right: 0;
    margin-right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-decoration:1px solid line-through;
    font-size: 1.5rem;
}

.header-content-main {
    width: 100%;
    overflow: hidden;
}

.header-content-item {
    width: 300%;
    display: flex;
    transition: all 1s ease-in;
}

/* About Us */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

.about div *, .categories div * {
    margin: .5rem 0;
}

.left, .right {
    width: 50%;
}

.title {
    display: flex;
    align-items: center;
}

.title span{
    width: 50px;
    height: 4px;
    border-radius: 5px;
    margin-left: .5rem;
    display: inline-block;
    background: var(--primary);
}

/* Categories */

#categories {
    background: var(--secondary);
}

.categories .title {
    padding-top: 3rem;
}

.categories .right {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.categories .right img {
    width: 85%;
    animation: opacityEffect 1s forwards ease-in;
}

.categories .right div{
    flex-basis: 50%;
}

@keyframes opacityEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.category {
    margin-top: 1rem;
}

.category li {
    list-style: none;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.line {
    background: var(--primary);
    width: 70px;
    height: 2px;
    display: inline-block;
    margin: 0 1rem;
}

/* Discount */

.discount {
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Featured */

#featured {
    padding: 1rem 0 2rem 0;
}

.featured .title{
    margin-bottom: 5rem;
}

.products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.product {
    background: var(--secondary);
    padding: 3rem 1.7rem;
    text-align: center;
    position: relative;
    margin: .5rem;
}

.product:nth-child(1)::before{
    content: "NEW";
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem 2rem;
    background: var(--dark);
    color: #fff;
}

.product:hover{
    background: var(--primary);
}

.product .price {
    color: var(--primary);
}

.product:hover .price {
    color: var(--dark);
}

.product .text {
    margin-top: 2rem;
}

/* Contact */

#contact {
    padding: 1rem 0 2rem 0;
}

.contact .row {
    align-items: normal;
}

input, textarea {
    display: block;
    width: 80%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
    border: 0;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    color: var(--dark);
    font-size: 1rem;
}

.contact .left textarea{
    height: 100px;
}

.card {
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 0 1rem;
    padding: 1.5rem 2rem;
}

.card:hover{
    background: var(--secondary);
}

.card:hover .fa-arrow{
    color: var(--primary);
}

.card-head{
    display: flex;
    align-items: center;
}

.card-title{
    margin-left: 1rem;
}

.card-title .card-job {
    color: var(--primary);
}

.card-body * {
    margin: 1rem 0;
}

/* Footer */

footer{
    background: var(--dark);
    color: #fff;
}

footer .row{
    align-items: flex-start;
}

.footer-title {
    width: 80%;
    margin: 2rem auto;
    padding: 1rem 0;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.footer-item{
    width: 25%;
}

.footer-item *{
    margin: .5rem 0;
}

.footer-item-title{
    font-size: 1.5rem;
}

.footer-images div{
    display: flex;
    flex-wrap: wrap;
    margin: .3rem;
}

.footer-images div img {
    margin: .3rem;
}

.footer-input{
    height: 40px;
}

.footer-item .button-group .green{
    width: 50%;
    border-radius: 0;
}

.social i{
    font-size: 1.8rem;
    margin: 0 .5rem;
}

.company{
    background: var(--secondary);
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    text-align: center;
}

/* Responsive */

@media (min-width:900px) and (max-width:1200px) {
    .container{
        max-width: 900px;
        padding: 0 1rem;
    }
    img:not(.footer-images div img){
        width: 100%;
    }

    .play-button{
        left: -20%;
    }
}

@media (min-width:768px) and (max-width:900px) {

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.4rem;
    }

    h3{
        font-size: 1.2rem;
    }

    p{
        font-size: 1rem;
    }

    a{
        font-size: .8rem;
    }

    .container{
        max-width: 768px;
        padding: 0 1rem;
    }

    .play-button{
        display: none;
    }

    .discount{
        height: 60vh;
    }

    img:not(.footer-images div img){
        width: 100%;
    }

    .category li{
        font-size: 1rem;
    }

    .products{
        flex-wrap: wrap;
        justify-content: center;
    }

    .product {
        margin: .5rem;
    }

}

@media (max-width:768px) {

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.4rem;
    }

    h3{
        font-size: 1.2rem;
    }

    p{
        font-size: 1rem;
    }

    a{
        font-size: .8rem;
    }

    .left, .right{
        width: 100%;
    }

    .row{
        flex-direction: column;
        text-align: center;
    }

    .container{
        max-width: 425px;
        padding: 0 1rem;
    }

    #navbar{
        flex-direction: column;
    }

    .logo {
        position: absolute;
        left: 0;
        top: 0;
        padding: 1rem;
    }

    .bar-menu {
        padding: 0 1rem;
        position: absolute;
        right: 0;
    }

    .menu{
        position: absolute;
        transform: translateY(-100%);
        transition: transform 0.5s ease; 
        opacity: 0;
    }
    
    .menu.open{
        opacity: 1;
        transform: translateY(0);
        position: relative;
    }

    .menu ul{
        display: block;
        margin-top: 2rem;
    }

    .menu ul li a{
        font-size: 1.4rem;
    }

    .login-menu{
        display: none;
    }

    .header-content-items {
        padding: 0 1rem;
    }

    .header-content-right{
        display: none;
    }

    .header-content-left {
        width: 100%;
    }

    .header-content-title h3{
        font-size: 1.6rem;
    }

    .header-content-title h1{
        font-size: 3rem;
    }

    .button-group {
        text-align: center;
    }

    section div{
        flex-direction: column;
    }

    section{
        padding: 1rem 0;
    }

    img:not(.footer-images div img){
        width: 100%;
    }

    input, textarea{
        width: 100%;
    }

    .category li{
        font-size: 1rem;
    }

    .categories .right{
        flex-direction: row;
    }

    .products{
        flex-wrap: wrap;
        justify-content: center;
    }

    .product {
        margin: .5rem;
        height: 450px;
    }

    .card{
        margin: .5rem 0;
    }

    .footer-item{
        width: 100%;
    }

    .footer-images div{
        display: block;
    }

}